/*** Mast head ***/
.masthead-content {
    height:75px;
    background-color: #ffffff;
    overflow: hidden;
    width:100%;

}

.masthead-name {
    background-color: #4aaaa5 ;
    float: left;
    padding:15px;
    margin-left: 15%;
    width: 250px;
}

.masthead-navigation {
    margin-left: 65%;
    height: 100%;;
    overflow: hidden;
   
}

.masthead-navigation-listItem {
    float: left;
    padding: 5px 10px 10px 5px;
    margin-top: 10px;
    border-right: solid 1px #999999;
}

.divider-right {
    border-right: solid 1px #999999;
}